@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-image: url(/Capstone-One/imgs/main-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  padding-bottom: 50px;
}

.main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  row-gap: 10px;
}

.pre-nav {
  display: none;
}

.nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.hamburger {
  display: block;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
}

.navigation {
  display: none;
  flex-direction: row;
}

.items {
  display: flex;
  flex-direction: row;
  width: 600px;
}

.items ul {
  display: flex;
  list-style-type: none;
}

.item {
  padding: 15px;
}

.item a {
  text-decoration: none;
}

.succes {
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  color: #ec5242;
  margin-left: 15px;
  margin-bottom: 10px;
}

.main-title {
  font-family: 'COCOGOOSE', sans-serif;
  line-height: 55px;
  color: transparent;
  font-size: 50px;
  font-weight: 500;
  width: calc(100% - 2rem);
  max-width: 650px;
  background-clip: border-box;
  background-image: url(/Capstone-One/imgs/title-backgroud.jpg);
  background-size: cover;
  -webkit-background-clip: text;
  margin: 0 0 10px 15px;
}

.main-paragraph {
  width: calc(100% - 2rem);
  max-width: 500px;
  padding: 15px 8px;
  line-height: 125%;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  text-align: justify;
  border: 4px solid #ffff;
  background-color: #ebebeb;
  margin-left: 15px;
}

.day {
  font-family: COCOGOOSE, sans-serif;
  font-size: 27px;
  font-weight: 700;
  color: #272a31;
  margin: 15px;
}

.place {
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  margin-top: -15px;
  margin-left: 15px;
}

@media (max-width: 450px) {
  .main-title {
    font-size: 35px;
    line-height: 45px;
    align-content: space-evenly;
  }

  .day {
    font-size: 20px;
  }
}

@media (min-width: 600px) {
  .main {
    align-content: space-around;
    row-gap: 20px;
  }
}

/* Cards section */
.cards {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 20px;
  background-image: url(/Capstone-One/imgs/pattern-background-black.png);
  background-color: #1c1e22;
  row-gap: 10px;
  align-items: center;
}

.info-title {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: rgb(255, 255, 255);
  padding-bottom: 8px;
  text-align: center;
}

.red-line {
  width: 10%;
  height: 1px;
  background-color: #ec5242;
  margin: 20px auto;
}

.cards-title {
  margin: 15px;
}

.card {
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: space-around;
  height: auto;
  column-gap: 10px;
  align-items: center;
  background-color: #272a31;
  max-width: 800px;
}

.cards-container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.card-title {
  width: 70px;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  font-weight: 600;
  color: #ec5242;
}

.card-info {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  text-align: justify;
  font-weight: 300;
  color: #ffff;
}

.join-btn {
  font: 400 15px 'Lato', sans-serif;
  padding: 20px 20px;
  border: none;
  background-color: #ec5242;
  color: #ffff;
  margin: 30px;
  transition: 0.5s ease;
  cursor: pointer;
  width: 270px;
}

.join-btn:hover {
  background-color: #ff422d;
}

.see-prog-btn {
  display: none;
}

/* Speaker dinamic cards */
.speaker-main-title {
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #272a31;
  margin: 15px;
  text-align: center;
}

.speakers {
  padding: 20px;
}

.speak-container {
  display: grid;
  grid-template-columns: auto;
  gap: 15px;
}

.speaker {
  max-width: 700px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 20px;
  align-items: center;
}

.speaker-name {
  font-size: 18px;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  color: #272a32;
}

.speaker-title {
  color: rgb(239, 81, 60);
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  font-weight: 600;
  font-style: italic;
}

.speaker-info {
  font-size: 13px;
  font-family: 'Lato', sans-serif;
  text-align: justify;
}

.speaker-container {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.show-more-btn {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #d6d6d6;
  background-color: #fff;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
}

.hide-card {
  display: none;
}

.speak-container.morebtn .hide-card {
  display: flex;
}

@media (max-width: 500px) {
  .speaker-info {
    font-size: 11px;
  }
}

@media (min-width: 768px) {
  .speak-container {
    width: 80%;
    grid-template-columns: auto auto;
    margin: auto;
  }
}

/* Partners */
.partners {
  display: block;
  width: 100%;
  background-color: #272a31;
  padding: 20px;
}

.title-container {
  text-align: center;
}

.title-partners {
  text-align: center;
  font-size: 24px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  padding: 3px;
  color: #ffff;
}

.line-partners {
  width: 10%;
  height: 1px;
  background-color: #ec5242;
  margin: 15px auto;
}

.partner-logo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.footer {
  padding: 30px;
  margin: 0 15px;
  display: flex;
  gap: 15px;
}

.logo-footer {
  width: 65%;
  background-image: url(/Capstone-One/imgs/Logo-capstone-one.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.info {
  text-align: left;
}
